<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-CA" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <nav>
          <ul>
            {% for item in site.data.navigation %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>

        <nav>
          <h3>Posts</h3>
          <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This website is maintained by <a href="{{ site.github.owner_url }}">Fabio, who has no brand</a>.</p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Original theme by <a href="https://github.com/orderedlist">orderedlist</a>, heavily modified and maybe a bit broken by yours truly.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
